<style>
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp {
    margin: 5px;
}

.container {
    display: flex;
    color: black;
    background-color: lightgrey;
    width: 50%;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}

.bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: {{percentage}}%;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2.5px;
}
</style>

<h1>Hello World!</h1>

<p>Hey, what's up! </br>
I'm a computer science student and recently studying ML!</p>

```javascript
const WooSeok = {
        name: "WooSeok Kim",
        POB: "Seoul, Korea 🇰🇷",
        occupation: {
                place: "SangMyung University",
                title: "Student",
                grade: "Sophomore",
                major: "Computer Science"
            },
        location: "Seoul, Korea🇰🇷"
    }
```

<p align="center">
    <img src="http://openweathermap.org/img/wn/{{weatherIcon}}@2x.png"/>
    <p align="center">In {{city}}, it is currently <b><i>{{weather}}</i></b><br>
    with a temperature of</p>
    <div align="center" style="font-size: 25px"><b>{{temperature}}°C</b></div>
    <div class="box">
        <text class="temp">{{temp_min}}</text>
        <div class="container">
            <div class="bar">
                <span class="circle"></span>
            </div>
        </div>
        <text class="temp">{{temp_max}}</text>
    </div>
</p>

<h2>Currently Studying...</h2>

![HTML](https://img.shields.io/badge/-HTML5-FF5733?style=for-the-badge&logo=html5&logoColor=ffffff)
![CSS3](https://img.shields.io/badge/-CSS3-307AC6?style=for-the-badge&logo=css3)
![JAVASCRIPT](https://img.shields.io/badge/-JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=000000&labelColor=F7DF1E&color=F7DF1E)
![C](https://img.shields.io/badge/-C-A8B9CC?style=for-the-badge&logo=c&logoColor=000000)
![C++](https://img.shields.io/badge/-c++-00599C?style=for-the-badge&logo=c%2B%2B)
![Python](https://img.shields.io/badge/-Python-3776AB?style=for-the-badge&logo=python&logoColor=ffffff)
![Java](https://img.shields.io/badge/-Java-CC333C?style=for-the-badge&logo=java)
![Lua](https://img.shields.io/badge/-Lua-070078?style=for-the-badge&logo=lua)

<h2>CS Blog that I'm running</h2>

[Try Visit My CS Blog!](https://3seoksw.github.io)

---
<p align="center">This README.md file is updated every <b>3</b> hours.</p>
<p align="center">As of, {{date}}.</p>
